body{
    background-color: #435373;
    color: white;
    
}

header{
    text-align: center;
}

section{
    background-color: #AEC5F2;
    color: black;
    width: 600px;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    font-size: 25px;

}

#numero{
    height: 40px;
    width: 80px;
    font-size: 20px;
}

#cxmostrar{
    height: 40px;
    width: 80px;
    font-size: 20px;
}

.informando{
    text-size-adjust: 20px;
}

footer{
    margin-top: 10px;
    font-style: italic;
    text-align: center;
}

#resposta{
    background-color: white;
    width: 200px;
    margin-top: 15px;
    border-radius: 5px;
}

